<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="reg" method="post">
    {% csrf_token %}
    {% if msg %}
    <h1 style="color:red">data already exists</h1>
    {% endif %}
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="txtname"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="txtemail"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password"  name="txtpassword"> </td>
        </tr>
        <tr>
            <td><input type="submit" value="SIGNUP" name="btnsubmit"></td>
        </tr>
    </table>
</form>
</body>
</html>